{% extends 'main_template.twig' %}

{% block top_css %}
	<link rel="stylesheet" href="{{ config.base_url }}build/css/projects.min.css">
{% endblock %}

{% block content %}
	<section class="projects">
		<h2 class="block-title">Мои работы</h2>
		<div class="sites">
			{% for result in results %}
			<div class="sites-item">
				<div class="sites-item__img">
					<img src="{{ config.base_url }}build/img/sites/{{ result.fileName }}" alt="site-1">
					<div class="sites-item__overlay">
						<a href="http://{{ result.url }}" class="btn-sites" target="_blank">{{ result.title }}</a>
					</div>
				</div>
				<p class="sites-item__title">{{ result.title }}</p>
				<p class="sites-item__deskription">
					{{ result.description }}
				</p>
			</div><!-- .sites-item -->
			{% endfor %}

			<div class="sites-add">
				<div class="sites-add__block">
					<a href="#" class="sites-add__link">
						<img src="{{ config.base_url }}build/img/add-site.png" alt="add" class="sites-add__img">
						<span class="sites-add__text">Добавить проект</span>
					</a>
				</div>
			</div><!-- .sites-add -->
		</div><!-- .sites -->
	</section><!-- .projects -->
{% endblock %}

{% block modal %}
	<!-- modal -->
	<section class="addProject">
		<div class="addProject-title">
			<h2 class="addProject-title__head">Добавление проекта</h2>
			<a href="#" class="addProject-title__close"></a>
		</div><!-- .addProject-title -->

		<div class="alertError">
			<div class="alertError__text">
				<span class="alertError__close">
					<img src="{{ config.base_url }}build/img/alertError-close.png" alt="close">
				</span>
				<h3 class="alertError__head">Ошибка!</h3>
				<p class="alertError__mes">Невозможно добавить проект.</p>
			</div><!-- .alertError__text -->
		</div><!-- .alertError -->

		<form class="formAddProject">
			<div class="formAddProject__item">
				<p class="formAddProject__label">Название проекта</p>
				<input type="text" name="name"
							 class="formAddProject__text"
							 placeholder="Введите название"
							 qtip-content="введите название"
				>
			</div><!-- .formWriteme__item -->

			<div class="formAddProject__item">
				<p class="formAddProject__label">Картинка проекта</p>
				<div class="file-upload">
					<label class="file-upload__btn" for="file-upload">
						<img src="{{ config.base_url }}build/img/download.png" alt="download">
					</label>
					<input type="file" name="file" id="file-upload"
								 class="file-upload__input"
								 qtip-content="изображение"
					>
					<div class="file-upload__text">Загрузите изображение</div>
				</div><!-- .formAddProject-upload -->
			</div><!-- .formWriteme__item -->

			<div class="formAddProject__item">
				<p class="formAddProject__label">URL проекта</p>
				<input type="text" name="projectUrl"
							 class="formAddProject__text"
							 placeholder="Добавьте ссылку"
							 qtip-content="ссылка на проект"
				>
			</div><!-- .formWriteme__item -->

			<div class="formAddProject__item">
				<p class="formAddProject__label">Описание</p>
				<textarea name="discr"
									class="formAddProject__textarea"
									placeholder="Пара слов о Вашем проекте"
									qtip-content="описание проекта"
				></textarea>
			</div><!-- .formWriteme__item -->

			<button type="submit" class="btn btn--proj">Добавить</button>
		</form>
	</section><!-- .addProject -->
	<section class="alertAdd">
		<div class="alertAdd__text">
			<span class="alertAdd__close b-close">
				<img src="{{ config.base_url }}build/img//alertAdd-close.png" alt="close">
			</span>
			<h3 class="alertAdd__head">Ура!</h3>
			<p class="alertAdd__mes">Проект успешно добавлен.</p>
		</div><!-- .alertAdd__text -->
	</section><!-- .alertAdd -->
	<!-- end modal -->
{% endblock %}

{% block scripts %}
	<script src="{{ config.base_url }}build/js/vendor.min.js"></script>
	<script src="{{ config.base_url }}build/js/workingForms.min.js"></script>
	<script src="{{ config.base_url }}build/js/projects.min.js"></script>
{% endblock %}